### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [610]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(purchase_data)

hopymoli_df = pd.read_csv(purchase_data)
hopymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [611]:
total_players_df = hopymoli_df["SN"].value_counts()
total_players_df2 = len(total_players_df)

In [612]:
total_players_df = pd.DataFrame({"Total Players":[total_players_df2]})    
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [613]:
unique_items_df = hopymoli_df.groupby("Item Name")["Item Name"].nunique()

unique_items_df.count()

179

In [614]:
average_price_df = round(hopymoli_df["Price"].mean(),2)
average_price_df = "$" + str(average_price_df)
average_price_df

'$3.05'

In [615]:
no_of_purchases_df = len(hopymoli_df)
no_of_purchases_df

780

In [616]:
total_revenue_df = hopymoli_df["Price"].sum()
total_revenue_df ="$" + str(total_revenue_df)
total_revenue_df

'$2379.77'

In [617]:

unique_items_df = hopymoli_df.groupby("Item Name")["Item Name"].nunique()
unique_items_df.count()

average_price_df = round(hopymoli_df["Price"].mean(),2)
average_price_df = "$" + str(average_price_df)
average_price_df

no_of_purchases_df = len(hopymoli_df)
no_of_purchases_df

total_revenue_df = hopymoli_df["Price"].sum()
total_revenue_df ="$" + str(total_revenue_df)
total_revenue_df

'$2379.77'

In [618]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items_df.count()],
                                             "Average Price":[average_price_df],
                                            "Number of Purchases":[no_of_purchases_df],
                                             "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [619]:
The Purchasing Analysis indicates that there are 179 diffent types of games 
purchased. It shows the total revenue. Also how many games were totally purchased.

SyntaxError: invalid syntax (<ipython-input-619-749ba46981a1>, line 1)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [620]:
gender_of_players_df = hopymoli_df.groupby("Gender")["SN"].nunique()

gender_of_players_df


gender_of_players_df1 = pd.DataFrame({"Total count": gender_of_players_df})

gender_of_players_df1

                       Total count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [621]:
# percentage of the Gender

percentage_of_players_df = round((gender_of_players_df /576) * 100, 2)

percentage_of_players_df

percentage_of_players_df2 = pd.DataFrame({"Percentage Of Players": percentage_of_players_df})
percentage_of_players_df2

                       Percentage Of Players
Gender
Female                                 14.06
Male                                   84.03
Other / Non-Disclosed                   1.91

In [622]:
gender_percentage_df = pd.DataFrame({"Total count": gender_of_players_df, "Percentage Of Players": percentage_of_players_df})
gender_percentage_df

                       Total count  Percentage Of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [623]:
# purchase count
purchase_count_df = hopymoli_df.groupby("Gender")["Item Name"]
purchase_count_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [624]:
# avg. purchase price
avg_purchase_price_df = round(hopymoli_df.groupby("Gender")["Price"].mean(),2)
avg_purchase_price_df.map("${:,.2f}".format)

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [625]:
# purchase total by gender
total_purchase_df = hopymoli_df.groupby("Gender")["Price"].sum()
total_purchase_df.map("${:,.2f}".format)

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
Name: Price, dtype: object

In [626]:
# avg. purchase total per person
#a1 = [total_purchase_df.groupby("Gender").mean()]

#a2 = [purchase_count_df.count()]
avg_total_purchase_df = round((total_purchase_df / gender_of_players_df),2)
avg_total_purchase_df.map("${:,.2f}".format)

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [627]:
avg_purchasing_analysis_df = pd.DataFrame({"Purchase count":purchase_count_df.count(),
                                             "Average Purchase Price":avg_purchase_price_df.map("${:,.2f}".format),
                                            "Total Purchase Value":total_purchase_df.map("${:,.2f}".format),
                                             "Avg Total Purchase per person":avg_total_purchase_df.map("${:,.2f}".format)})
avg_purchasing_analysis_df

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [628]:
# Create the bins for ages
# Bins are 0, 10, 15, 20, 25, 30, 35, 40, 40+
bins = [0, 10, 14, 19, 24, 29, 34, 39, 46] 
age_ranges = ["<10","10-14", "15-19","20-24","25-29","30-34","35-39",">40"]

hopymoli_df["Age range"] = pd.cut(hopymoli_df["Age"], bins, labels=age_ranges)

In [629]:
hopymoli_df["Age range"] = pd.cut(hopymoli_df["Age"], bins, labels= age_ranges)
hopymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [630]:
#Purchase Count
bin1 = hopymoli_df.groupby(["Age range"]).get_group(('<10'))
bin_one = len(bin1["SN"].unique())
per_bin1 = (bin_one/total_players_df2)*100

bin2 = hopymoli_df.groupby(["Age range"]).get_group(('10-14'))
bin_two = len(bin2["SN"].unique())
per_bin2 = (bin_two/total_players_df2)*100

bin3 = hopymoli_df.groupby(["Age range"]).get_group(('15-19'))
bin_three = len(bin3["SN"].unique())
per_bin3 = (bin_three/total_players_df2)*100

bin4 = hopymoli_df.groupby(["Age range"]).get_group(('20-24'))
bin_four = len(bin4["SN"].unique())
per_bin4 = (bin_four/total_players_df2)*100

bin5 = hopymoli_df.groupby(["Age range"]).get_group(('25-29'))
bin_five = len(bin5["SN"].unique())
per_bin5 = (bin_five/total_players_df2)*100

bin6 = hopymoli_df.groupby(["Age range"]).get_group(('30-34'))
bin_six = len(bin6["SN"].unique())
per_bin6 = (bin_six/total_players_df2)*100

bin7 = hopymoli_df.groupby(["Age range"]).get_group(('35-39'))
bin_seven = len(bin7["SN"].unique())
per_bin7 = (bin_seven/total_players_df2)*100

bin8 = hopymoli_df.groupby(["Age range"]).get_group(('>40'))
bin_eight = len(bin8["SN"].unique())
per_bin8 = (bin_eight/total_players_df2)*100

In [631]:
totalplayerscount =[bin_one,bin_two,bin_three,bin_four,bin_five,bin_six,bin_seven,bin_eight]
per_of_players= [per_bin1,per_bin2,per_bin3,per_bin4,per_bin5,per_bin6,per_bin7,per_bin8]
per_of_players= [round(x,2) for x in per_of_players]

agedem_table_df =pd.DataFrame({"Age range": age_ranges,"Total Count": totalplayerscount,"Percentage Of Players": per_of_players})
agedem_table_df

  Age range  Total Count  Percentage Of Players
0       <10           24                   4.17
1     10-14           15                   2.60
2     15-19          107                  18.58
3     20-24          258                  44.79
4     25-29           77                  13.37
5     30-34           52                   9.03
6     35-39           31                   5.38
7       >40           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [632]:
#Avg.Purchase price (by age range)
age_range_average_df = hopymoli_df.groupby("Age range")["Price"].mean()
age_range_average_df.round(2)

Age range
<10      3.40
10-14    2.68
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>40      2.94
Name: Price, dtype: float64

In [633]:
# Total purchase Value
age_range_total_df = hopymoli_df.groupby("Age range")["Price"].sum()
age_range_total_df.map("${:,.2f}".format)

Age range
<10        $108.96
10-14       $50.95
15-19      $412.89
20-24    $1,114.06
25-29      $293.00
30-34      $214.00
35-39      $147.67
>40         $38.24
Name: Price, dtype: object

In [634]:
#Avg.total Purchase per person
avg_total_purchase_per_person_df = round((age_range_total_df / totalplayerscount),2)
avg_total_purchase_per_person_df.map("${:,.2f}".format)

Age range
<10      $4.54
10-14    $3.40
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
>40      $3.19
Name: Price, dtype: object

In [635]:
age_range_df = pd.DataFrame({"Purchase Count":totalplayerscount,
                            "Average Purchase Price":age_range_average_df.round(2).map("${:,.2f}".format),
                            "Total Purchase Value": age_range_total_df.map("${:,.2f}".format), "Avg Total Purchase Per Person": avg_total_purchase_per_person_df.map("${:,.2f}".format)})
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age range,,,,
<10,24,$3.40,$108.96,$4.54
10-14,15,$2.68,$50.95,$3.40
15-19,107,$3.04,$412.89,$3.86
20-24,258,$3.05,"$1,114.06",$4.32
25-29,77,$2.90,$293.00,$3.81
30-34,52,$2.93,$214.00,$4.12
35-39,31,$3.60,$147.67,$4.76
>40,12,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [636]:
#Top Spenders

#SN
SN = hopymoli_df.groupby(hopymoli_df["SN"])
ScreenName = SN["SN"].unique()

#Purchase Count
SNCount = SN["Age"].count()

#Average Purchase Price
SNAverage = round(SN["Price"].mean(),2)

#Total Purchase Value
SNTotal = SN["Price"].sum()

In [637]:
top_spenders_df = pd.DataFrame({"SN":ScreenName,"Purchase Count":SNCount,
                 "Average Purchase Price":SNAverage.map("${:,.2f}".format),"Total Purchase Value":SNTotal.map("${:,.2f}".format)})
top_spenders_df
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value",ascending=False)
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_spenders_df.iloc[:5]

                Purchase Count Average Purchase Price Total Purchase Value
SN
[Haillyrgue51]               3                  $3.17                $9.50
[Phistym51]                  2                  $4.75                $9.50
[Lamil79]                    2                  $4.64                $9.29
[Aina42]                     3                  $3.07                $9.22
[Saesrideu94]                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [638]:
# Most Popular Items
#Item ID
ItemID = hopymoli_df.groupby(hopymoli_df["Item ID"])
Items = ItemID["Item ID"].unique()

#Item Name
ItemName = ItemID["Item Name"].unique()

#Purchase Count
ItemPurchaseCount = ItemID["Age"].count()

#Item Price
ItemPrice= ItemID["Price"].unique()


#Total Purchase Value
TotalPurchasevalue = ItemID["Price"].sum()

In [639]:
item_table_df = pd.DataFrame({"Item ID":Items,"Item Name":ItemName,"Item Price":ItemPrice,"Item Count":ItemPurchaseCount,"Total Purchase":TotalPurchasevalue})
item_table_df 
item_table_df = item_table_df.set_index("Item ID")
item_table_df = item_table_df.sort_values("Item Count", ascending=False)
item_table_df = item_table_df[["Item Name","Item Count","Item Price","Total Purchase"]]
item_table_df.iloc[:5]
# Formatting prices
# item_table_df.style.format({"Item Price": "${:.2f}", "Total Purchase": "${:.2f}"})

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[145],[Fiery Glass Crusader],9,[4.58],41.22
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77
[82],[Nirvana],9,[4.9],44.10
[19],"[Pursuit, Cudgel of Necromancy]",8,[1.02],8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [640]:
#Most Profitable Items
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

MostProfit= item_table_df.sort_values("Total Purchase", ascending=False)
MostProfit[:5]

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[82],[Nirvana],9,[4.9],44.10
[145],[Fiery Glass Crusader],9,[4.58],41.22
[92],[Final Critic],8,[4.88],39.04
[103],[Singed Scalpel],8,[4.35],34.80

In [ ]:
The top 5 most profitable games are gven in the table.